<div class="recipient-edit">
  <label>First Name</label>
  {{input value=first_name}}<br/>
  <label>Last Name</label>
  {{input value=last_name}}
  <button {{action "saveRecipient"}}>Save</button>
</div>
