<div class="recipients">
<h2>Recipients</h2>
  <ul id="recipients">
    {{#each recipient in controller}}
      <li>{{#link-to "recipient" recipient}}{{recipient.last_name}} {{recipient.first_name}} {{/link-to}}</li>
    {{/each}}
  </ul>
</div>
